name: Pull Request

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  code-style:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        os: [ ubuntu ]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK Corretto 21
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '21'
          architecture: x64

      - name: Validate Java code formatting
        run: mvn -T 1C formatter:validate

  tests:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        os: [ ubuntu, windows ]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Cache local Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-

      - name: Set up JDK Corretto 21
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '21'
          architecture: x64

      - name: Install NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install TypeScript and esbuild
        run: npm install -g typescript esbuild

      - name: Maven Build
        run: mvn clean install -P unit-tests -U

  integration-tests-h2:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Cache local Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-

      - name: Set up JDK Corretto 21
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '21'
          architecture: x64

      - name: Install NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install TypeScript and esbuild
        run: npm install -g typescript esbuild

      - name: Install ttyd (prebuilt)
        run: |
          sudo apt update
          sudo apt install -y ttyd
      - name: Verify ttyd installation
        run: ttyd --version

      - name: Integration tests
        run: mvn clean install -P integration-tests

      - name: Generate a random artifact name
        if: always()
        id: generate_name
        run: |
          TIMESTAMP=$(date +"%Y%m%d_%H%M%S")
          echo "ARTIFACT_NAME=selenide-screenshots-${TIMESTAMP}.zip" >> $GITHUB_ENV

      - name: Upload selenide screenshots
        uses: actions/upload-artifact@v4
        if: always()
        with:
          retention-days: 1
          name: ${{ env.ARTIFACT_NAME }}
          path: tests/tests-integrations/build/reports/tests

  integration-tests-postgresql:
    runs-on: ubuntu-latest
    env:
      POSTGRES_DB: testdb
      POSTGRES_USER: testuser
      POSTGRES_PASS: testpass
      POSTGRES_SYSTEMDB_DB: testsystemdb
      POSTGRES_SYSTEMDB_USER: testsystemuser
      POSTGRES_SYSTEMDB_PASS: testsystempass
      POSTGRES_TARGET_DS_DB: targetdsdb
      POSTGRES_TARGET_DS_USER: targetdsuser
      POSTGRES_TARGET_DS_PASS: targetdspass
    services:
      postgres:
        image: postgres:16
        ports:
          - 5432:5432
        env:
          POSTGRES_DB: ${{ env.POSTGRES_DB }}
          POSTGRES_USER: ${{ env.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ env.POSTGRES_PASS }}
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      postgres-system-db:
        image: postgres:16
        ports:
          - 5433:5432
        env:
          POSTGRES_DB: ${{ env.POSTGRES_SYSTEMDB_DB }}
          POSTGRES_USER: ${{ env.POSTGRES_SYSTEMDB_USER }}
          POSTGRES_PASSWORD: ${{ env.POSTGRES_SYSTEMDB_PASS }}
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      postgres-target-ds:
        image: postgres:16
        ports:
          - 5434:5432
        env:
          POSTGRES_DB: ${{ env.POSTGRES_TARGET_DS_DB }}
          POSTGRES_USER: ${{ env.POSTGRES_TARGET_DS_USER }}
          POSTGRES_PASSWORD: ${{ env.POSTGRES_TARGET_DS_PASS }}
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Cache local Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-

      - name: Set up JDK Corretto 21
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '21'
          architecture: x64

      - name: Install NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install TypeScript and esbuild
        run: npm install -g typescript esbuild

      - name: Install ttyd (prebuilt)
        run: |
          sudo apt update
          sudo apt install -y ttyd

      - name: Verify ttyd installation
        run: ttyd --version

      - name: Integration tests
        run: mvn clean install -P integration-tests
        env:
          DIRIGIBLE_DATASOURCE_DEFAULT_DRIVER: org.postgresql.Driver
          DIRIGIBLE_DATASOURCE_DEFAULT_URL: jdbc:postgresql://localhost:5432/${{ env.POSTGRES_DB }}
          DIRIGIBLE_DATASOURCE_DEFAULT_USERNAME: ${{ env.POSTGRES_USER }}
          DIRIGIBLE_DATASOURCE_DEFAULT_PASSWORD: ${{ env.POSTGRES_PASS }}
          DIRIGIBLE_DATABASE_SYSTEM_DIALECT: org.hibernate.dialect.PostgreSQLDialect
          DIRIGIBLE_DATABASE_SYSTEM_DRIVER: org.postgresql.Driver
          DIRIGIBLE_DATABASE_SYSTEM_URL: jdbc:postgresql://localhost:5433/${{ env.POSTGRES_SYSTEMDB_DB }}
          DIRIGIBLE_DATABASE_SYSTEM_USERNAME: ${{ env.POSTGRES_SYSTEMDB_USER }}
          DIRIGIBLE_DATABASE_SYSTEM_PASSWORD: ${{ env.POSTGRES_SYSTEMDB_PASS }}
          DIRIGIBLE_SCHEDULER_DATABASE_DELEGATE: org.quartz.impl.jdbcjobstore.PostgreSQLDelegate
          INTEGRATION_TESTS_IS_POSTGRESQL: true
          INTEGRATION_TESTS_TARGET_DS_URL: jdbc:postgresql://localhost:5434/${{ env.POSTGRES_TARGET_DS_DB }}
          INTEGRATION_TESTS_TARGET_DS_USERNAME: ${{ env.POSTGRES_TARGET_DS_USER }}
          INTEGRATION_TESTS_TARGET_DS_PASSWORD: ${{ env.POSTGRES_TARGET_DS_PASS }}

      - name: Generate a random artifact name
        if: always()
        id: generate_name
        run: |
          TIMESTAMP=$(date +"%Y%m%d_%H%M%S")
          echo "ARTIFACT_NAME=selenide-screenshots-${TIMESTAMP}.zip" >> $GITHUB_ENV

      - name: Upload selenide screenshots
        uses: actions/upload-artifact@v4
        if: always()
        with:
          retention-days: 1
          name: ${{ env.ARTIFACT_NAME }}
          path: tests/tests-integrations/build/reports/tests
